*{
    margin: auto;
    padding: auto;
}
.container{
    width: 700px;
    height: 700px;
    background-color: cadetblue;
    border:4px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 100px;
    height: 25px;
    background-color: rgb(39, 216, 223);
    border:4px solid rgb(3, 40, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 4s linear 0s;
    h1{
       font-size: 15px;
       transition:all 4s linear 0s;
    }
}
.box:hover{
    height: 100px;
    width: 400px;
    background-color: rgb(223, 196, 39);
    border:2px solid black;
    transform: rotate(360deg);
    h1{
        font-size: 55px;
     }
}